{% extends "base.html" %}

{% block app_content %}
<body>
    <h1>Control Panel</h1><hr>
    <div class="container-fluid">
        <h4>Games updated on</h4>
        <p>{{last_games}}</p>
        <br>
        <h4>Scores updated on</h4>
        <p>{{last_scores}}</p>
    </div>
    <hr>
    <div class="container-fluid">
        <div align="center" class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/execute/insert_games.py" method="post">
                <button class="btn btn-block btn-primary">Insert Games</button>
            </form>
        </div>
        <div align="center" class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/execute/insert_scores.py" method="post">
                <button class="btn btn-block btn-primary">Insert Scores</button>
            </form>
        </div>
        <div align="center" class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/execute/daily_task.py" method="post">
                <button class="btn btn-block btn-primary">Insert Both</button>
            </form>
        </div>
        <div align="center" class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/execute/restart_server.sh" method="post">
                <button class="btn btn-block btn-primary">Restart Server</button>
            </form>
        </div>
        <div align="center" class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="/execute/restart_elasticsearch.sh" method="post">
                <button class="btn btn-block btn-primary">Restart Elasticsearch</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}

