{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% extends "bootstrap/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% if title %}
        {{ title }} - NBA Betting Simulator
    {% else %}
        NBA Betting Simulator
    {% endif %}
</title>
{% endblock %}

{% block navbar %}
    <nav id="top_navbar" class="navbar navbar-default navbar-fixed-top">
        <div v-cloak class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">NBA Betting Simulator</a>
            </div>
            <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
                    <li v-if="is_authenticated"><a href="{{ url_for('feed') }}">Feed</a></li>
                </ul>
                {% if g.search_form %}
                <form id="searchbox" class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(id="autocomplete", size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                        <li v-if="is_authenticated"><a href="{{ url_for('user', username=current_user.username) }}"><% data.username %> - <% data.funds %> coins</a></li>
                        <li v-if="is_authenticated"><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li v-if="!is_authenticated"><a href="{{ url_for('login') }}">Login</a></li>
                        <li v-if="!is_authenticated"><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div v-cloak id="flashed">
            <div v-cloak v-for="message in messages" class="alert alert-info" role="alert">
                <% message.text %>
            </div>
        </div>
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script src="/static/js/warning.js"></script>
    <script src="/static/js/flashed_messages.js"></script>
    <script src="/static/js/current_user.js"></script>
{% endblock %}
