{% extends "base.html" %}

{% block app_content %}
    <h1>What is this?</h1>
    <h3>The idea</h3>
    <p>NBA Betting Simulator is a website that allows you to simulate bets on real NBA games. You start with 1000 coins that you can bet on the daily NBA games, with (almost) real-time odds. You can reset your account at any time and it is completely free to play.</p>
    
    <h3>How do the odds work?</h3>
    <p>If you bet X coins on a game with odds Y and you win, your net benefit is X*(Y-1) coins.</p>
    <p>As an example, if you bet 50 coins on a game with odds 1.32 and you win, you receive 50*1.32 = 66 coins. That means your net benefit is 16 coins.</p>
    
    <h3>About me</h3>
    <p>I am a Math/CS university student who loves basketball. I decided to test my skills at predicting NBA game results, which led to the creation of this website to automate the task. This is my first web-related project.</p>
    
    <h3>Contact</h3>
    <p>Of course, no website is perfect. You can send your suggestions to my <a href="mailto:nbabettingsimulator@gmail.com" target="_top">email</a>, I will be sure to respond to them!</p>

    <h3>The code</h3>
    <p>The source code for this website is available at my <a href="https://github.com/nilfm/nba-betting-simulator">Github</a>. I used Flask to develop the backend and Vue for the frontend.</p>
{% endblock %}
