<div>
    <form class="form" action="" method="post">
        <div class="form-row">
            <div class="form-group col-xs-3">
                HOME: <b>{{ game.home_team_long.long_name }}</b>
            </div>
            <div class="form-group col-xs-6">
                {{ game.home_odds }}
            </div>
            <div class="form-group col-lg-2">
                {{ form1.amount(class="form-control", placeholder="Amount") }}
                {{ form1.csrf_token }}
            </div>
            <div class="form-group col-lg-1">
                {{ form1.submit(class="btn btn-light") }}
            </div>
        </div>
    </form>
    <form class="form" action="" method="post">
        <div class="form-row">
            <div class="form-group col-xs-3">
                AWAY: <b>{{ game.away_team_long.long_name }}</b>
            </div>
            <div class="form-group col-xs-6">
                {{ game.away_odds }}
            </div>
            <div class="form-group col-lg-2">
                {{ form2.amount(class="form-control", placeholder="Amount") }}
                {{ form2.csrf_token }}
            </div>
            <div class="form-group col-lg-1">
                {{ form2.submit(class="btn btn-light") }}
            </div>
        </div>
    </form>
</div>
<hr class="col-xs-12">
