{% extends "base.html" %}

{% block app_content %}
    <h1>Ranking</h1>
    <hr>
    <!-- Default unchecked -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
      <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
    </div>

    <!-- Default checked -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
      <label class="custom-control-label" for="defaultChecked">Default checked</label>
    </div>
    <hr>
    
    <ul class="list-group">
    {% for i, user in ranking %}
        {% include "user_rank.html" %}
    {% endfor %}
    {% if not current_user.is_anonymous %}
    {% if user_index %}
    <br>
    {% with i=user_index, username=current_user.username, funds=current_user.ranking_funds %}
        {% include "user_rank.html" %}
    {% endwith %}
    {% endif %}
    {% endif %}
    </ul>
{% endblock %}

