<script>
    function show_global(){
        document.getElementById('global').classList.remove('hidden')
        document.getElementById('followed').classList.add('hidden')
    }
    
    function show_followed(){
        document.getElementById('global').classList.add('hidden')
        document.getElementById('followed').classList.remove('hidden')
    }
</script>

{% extends "base.html" %}

{% block app_content %}
    <h1>Ranking</h1>
    <hr>
    {% if current_user.is_authenticated %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-info active" onclick="show_global()">
        <input type="radio" name="options" id="global-btn" autocomplete="off" checked>
        Global
      </label>
      <label class="btn btn-info" onclick="show_followed()">
        <input type="radio" name="options" id="followed-btn" autocomplete="off">
        Followed
      </label>
    </div>
    <hr>
    {% endif %}
    
    <ul class="list-group" id="global">
    {% for i, user in ranking.global %}
        {% include "user_rank.html" %}
    {% endfor %}
    {% if user_index.global %}
    <br>
    {% with i=user_index.global, user=current_user, funds=current_user.ranking_funds %}
        {% include "user_rank.html" %}
    {% endwith %}
    {% endif %}
    </ul>
    
    {% if current_user.is_authenticated %}
    <ul class="list-group hidden" id="followed">
    {% for i, user in ranking.followed %}
        {% include "user_rank.html" %}
    {% endfor %}
    {% if user_index.followed %}
    <br>
    {% with i=user_index.followed, user=current_user, funds=current_user.ranking_funds %}
        {% include "user_rank.html" %}
    {% endwith %}
    {% endif %}
    </ul>
    {% endif %}
{% endblock %}

