{% extends "base.html" %}

{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h2>{{ user.username }}'s bets</h2>
            </div>
            {% if not is_me %}
            <div style="margin-top: 20px;" align="right" class="center-block col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {% if not is_following %}
                <a class="btn btn-primary" href="{{ url_for('follow', username=user.username) }}">
                    Follow
                </a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('unfollow', username=user.username) }}">
                    Unfollow
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <h3>Stats</h3>
    <br>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item won-bet">
                Won {{ stats.won }} bet{% if stats.won != 1 %}s{% endif %} {% if stats.won+stats.lost != 0 %}({{ "%.2f"|format(100*stats.won/(stats.won+stats.lost)) }}%){% endif %}
            </li>
            <li class="list-group-item lost-bet">
                Lost {{ stats.lost }} bet{% if stats.lost != 1 %}s{% endif %} {% if stats.won+stats.lost != 0 %}({{ "%.2f"|format(100*stats.lost/(stats.won+stats.lost)) }}%){% endif %}
            </li>
        </ul>
    </div>
    <hr>    
    <h3>Pending bets{% if pending_bets %} ({{ stats.pending }}){% endif %}</h3>
    <br>
    <div class="container-fluid">
    {% if pending_bets %}
        <ul class="list-group">
        {% for bet in pending_bets %}
            {% include "bet.html" %}
        {% endfor %}
        </ul>
    {% else %}
    <p>This user has no pending bets.</p>
    {% endif %}
    </div>
    <hr>
    <h3>Recent finished bets</h3>
    <br>
    <div class="container-fluid">
    {% if finished_bets %}
        <ul class="list-group">
        {% for bet in finished_bets %}
            {% include "bet.html" %}
        {% endfor %}
        </ul>
    {% else %}
    <p>This user has no finished bets.</p>
    {% endif %}
    </div>
    <hr class="col-xs-12">
    {% if is_me %}
    <div class="form-row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="/reset_account" method="post">
                <button class="btn btn-danger">Reset Account</button>
            </form>
        </div>
        {% if user.username != "nilfm" %}
        <div align="right" class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="/delete_account" method="post">
                <button class="btn btn-danger">Delete Account</button>
            </form>
        </div>
        {% else %}
        <div align="right" class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="/admin" method="get">
                <button class="btn btn-primary">Admin</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
