{% extends "base.html" %}

{% block app_content %}
    <div v-cloak v-if="loaded" id="user">
        <a :href="url_user">Back to user page</a>
        <h2><% data.username %>'s stats dashboard</h2>

        <hr>

        <div class="container-fluid">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Bet type
                    <span class="caret"></span></button>
                    <ul id="types" class="dropdown-menu">
                        <li id="type-bet_for" class="active"><a href="#" @click.prevent="set_type('bet_for')">Bet for</a></li>
                        <li id="type-bet_against"><a href="#" @click.prevent="set_type('bet_against')">Bet against</a></li>
                        <li id="type-total"><a href="#" @click.prevent="set_type('total')">Total</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by
                    <span class="caret"></span></button>
                    <ul id="selects" class="dropdown-menu">
                        <li id="select-total" class="active"><a href="#" @click.prevent="set_select('total')">All</a></li>
                        <li id="select-home"><a href="#" @click.prevent="set_select('home')">Home team</a></li>
                        <li id="select-away"><a href="#" @click.prevent="set_select('away')">Away team</a></li>
                        <li id="select-favorite"><a href="#" @click.prevent="set_select('favorite')">Favorite</a></li>
                        <li id="select-underdog"><a href="#" @click.prevent="set_select('underdog')">Underdog</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                    <span class="caret"></span></button>
                    <ul id="sorts" class="dropdown-menu">
                        <li id="sort-0" class="active"><a href="#" @click.prevent="set_sort(0)">Balance</a></li>
                        <li id="sort-1"><a href="#" @click.prevent="set_sort(1)">Number of wins</a></li>
                        <li id="sort-2"><a href="#" @click.prevent="set_sort(2)">Number of bets</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <br>

        <div class="container-fluid">
            <div v-for="(team, pos) in stats_to_show.by_team">
                <h4><b><% team.long_name %></b></h4>
                <div class="list-group-item" :style="get_team_background_color(pos)">
                    Balance: <% calculate_display_balance(team.total_balance) %> <% 'coin' | pluralize(team.total_balance) %> <br> 
                    Won <% team.num_wins %> <% 'bet' | pluralize(team.num_wins) %> <br>
                    Lost <% team.num_losses %> <% 'bet' | pluralize(team.num_losses) %>           
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{super()}}
    <script src="/static/js/user.js"></script>
{% endblock %}
