{% extends "base.html" %}

{% block app_content %}
    <h1>{{ user.username }}'s bets</h1>
    <hr>
    <h3>Stats</h3>
    <br>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item won-bet">
                Won {{ stats.won }} bet{% if stats.won != 1 %}s{% endif %} {% if stats.won+stats.lost != 0 %}({{ "%.2f"|format(100*stats.won/(stats.won+stats.lost)) }}%){% endif %}
            </li>
            <li class="list-group-item lost-bet">
                Lost {{ stats.lost }} bet{% if stats.lost != 1 %}s{% endif %} {% if stats.won+stats.lost != 0 %}({{ "%.2f"|format(100*stats.lost/(stats.won+stats.lost)) }}%){% endif %}
            </li>
        </ul>
    </div>
    <hr>    
    <h3>Pending bets</h3>
    <br>
    {% if pending_bets %}
    <div class="container-fluid">
        <ul class="list-group">
        {% for bet in pending_bets %}
            {% include "bet.html" %}
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>This user has no pending bets.</p>
    {% endif %}
    <hr>
    <h3>Finished bets</h3>
    <br>
    {% if finished_bets %}
    <div class="container-fluid">
        <ul class="list-group">
        {% for bet in finished_bets %}
            {% include "bet.html" %}
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>This user has no finished bets.</p>
    {% endif %}
    <hr class="col-xs-12">
    {% if is_me %}
    <div class="form-row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="/reset_account" method="post">
                <button class="btn btn-danger">Reset Account</button>
            </form>
        </div>
        <div align="right" class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form action="/delete_account" method="post">
                <button class="btn btn-danger">Delete Account</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
